In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# set함수는 순서없이 저장, 항목이 중복될 수 없다 but list(리스트)는 중복되더라도 모두 출력
s1= set([1,2,3,3,3,4,2])
print(s1)

{1, 2, 3, 4}

In [3]:
s2={3,4,5}
print(s2)

{3, 4, 5}

In [4]:
s={1,2,3,4,5,3,4}
print(s)

# add함수, 데이터 안에 값 추가 
s.add(10)
print(s)

# remove함수, 데이터 안에 remove 할 값이 없으면 error , discard함수는 없어도 error 안남 
s.remove(2)
print(s)

# update함수, 데이터 추가 
s.update([1,3,4,7,9])
print(s)

# clear함수, 데이터 값 모두제거 
s.clear()
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10}
{1, 3, 4, 5, 10}
{1, 3, 4, 5, 7, 9, 10}
set()

In [5]:
s1={1,2,3}
s2={3,4,5}

#합집합 union, 교집합 intersection 차집합 difference 
print(s1.union(s2)) #합집합
print(s1.intersection(s2)) #교집합
print(s1.difference(s2)) #차집합
print(s1 | s2) # 합집합
print(s1 & s2) #교집합
print(s1 - s2) #차집합

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [6]:
#실습 1- 집합 : 1부터 100까지 숫자 중 3과 5의 공배수를 집합 형태로 만들어 아래와 같이 출력하시오(단, 집합의 원소 출력 순서는 다를 수 있음)

#풀이1 -조교님 
s3=set()
s5=set()

for i in range(1,101):
    if i%3 == 0 :
        s3.add(i)
    if i%5 == 0 :
        s5.add(i)

s = s3 & s5

print(s)
print("3과 5의 공배수: %d개"%(len(s)))

#풀이2 - 나 
s3=set()
s5=set()
for i in range (3,101,3) :
    s3.add(i)
    
for i in range (5,101,5) :
    s5.add(i)
    
print(s3 & s5)
print("3과 5의 공배수: %d개"%(len(s)))

#풀이3
s3= set(range(3,101,3))
s5= set(range(5,101,5))
print(s3&s5)

{75, 45, 15, 90, 60, 30}
3과 5의 공배수: 6개
{75, 45, 15, 90, 60, 30}
3과 5의 공배수: 6개
{75, 45, 15, 90, 60, 30}

## 딕셔너리

#### 중괄호 {}로 묶여 있으며, key와 value의 쌍으로 이루어짐
#### d= {key1 :value1, key2: value2}
#### key로 value를 관리
#### key는 중복 될 수 없음. ex) 학번, 주민번호
#### 항목들 사이에 순서가 없음

In [7]:
d={}
d['kim']=1
d['park']=2
print(d)

{'kim': 1, 'park': 2}

In [8]:
d['park'] # 키 값을 사용하여 value에 접근

2

In [9]:
d['kim']=3 # 이미 있는 키의 경우 기존 값이 변경된다

In [10]:
print(d) # 덮어써서 kim이 1에서 3이 되었다

{'kim': 3, 'park': 2}

In [11]:
# 문자도 곱하기 가능 
word="Hello"*2
print(word)

# set 형태를 list 형태로 출력 시 중복되도 출력
word_list=list(word)
print(word_list)

HelloHello
['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [12]:
d['youn']= 1 # 새 항목 추가 
print(d)

{'kim': 3, 'park': 2, 'youn': 1}

In [13]:
d.keys()  # keys 함수는 d 안의 모든 key들만 출력하는 함수

dict_keys(['kim', 'park', 'youn'])

In [14]:
d.values() # values 함수는 d 안의 모든 value들만 출력하는 함수

dict_values([3, 2, 1])

In [15]:
d.items() # items 함수는 d 안의 모든 key, value들 출력하는 함수

dict_items([('kim', 3), ('park', 2), ('youn', 1)])

In [16]:
'kim' in d # d 라는 딕셔너리 안에 kim이라는 값이 있는지 True, False 로 볼 수 있음

True

In [17]:
del d['kim']
print(d)  # del 함수를 통해 d안에 kim 을 삭제

{'park': 2, 'youn': 1}

In [18]:
d.clear()
print(d)  # clear 함수를 통해 모두 삭제

{}

In [19]:
d['kim']=[1,2,3]
print(d)
d['kim'].append(4)
print(d)  # value값을 리스트 형태로 두고 append함수를 통해 추가 시켜주면 추가가 가능하다.

{'kim': [1, 2, 3]}
{'kim': [1, 2, 3, 4]}

In [20]:
d[5]=set([1,2,3])
print(d) # key값은 숫자도 가능하고, value 값을 set 형태로 사용가능 / key(int,str, tuple 가능 list와 set 불가) : value( list와 set 형태 가능)
# immutable(수정 안되는 자료) : int, str, tuple
#   mutable(수정 되는 자료) : list, set

{'kim': [1, 2, 3, 4], 5: {1, 2, 3}}

In [21]:
# 실습 2 : for 문을 사용하여 아래 딕셔너리 d의 모든 value를 출력해 보세요.
d = {'kim': 3, 'park': 2, 'youn': 1}

for i in d.values() :
    print(i)

print(*d.values()) # *을 붙이면 숫자만 출력 가능

3
2
1
3 2 1

In [ ]:
# 실습 3 :  어떤 문장을 입력 받으면 해당 문장에서 각 문자가 몇 개씩 나오는지 저장하는 딕셔너리를 만든 후, 아래와 같이 출력하시오.

#풀이1
s= input("Enter a sentence: ")
d={}
for i in s :
    if i in d :
        d[i]+=1
    else :
        d[i]= 1
        
print(d)

In [ ]:
s= input("Enter a sentence: ")

In [23]:
L = [i for i in range(1,6)]
print(L)

L = [i**2 for i in range(1,6)]
print(L)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [24]:
L = [i**2 for i in range(1,6) if i%2 ==0]
print(L)

[4, 16]

In [25]:
L1=[1,2,3]
L2=[3,4,5]
print([x*y for x in L1 for y in L2])

[3, 4, 5, 6, 8, 10, 9, 12, 15]

In [26]:
L = [i**2 if i%2==0 else i for i in range(1,6)]
print(L)

[1, 4, 3, 16, 5]

In [27]:
L1=[1,2,3]
L2=[3,4,5]
print([x*y for x in L1 for y in L2 if(x%2==0 or y%2==0)])

[4, 6, 8, 10, 12]

In [28]:
# zip 함수는 2개 이상의 리스트를, 각 리스트의 같은 인덱스 원소끼리 묶은 튜플을 원소로 하는 리스트를 만들어 줌

list(zip([1,2,3],[4,5,6])) 
 
list(zip([1,2,3],[4,5,6],['a','b','c'])) # 문자열도 같은 인덱스 원소끼리 묶음

list(zip((1,2,3),(4,5,6))) # 튜플도 사용 가능
 
list(zip([1,2,3],[4,5],['a','b','c'])) # 길이가 맞지 않으면 짧은 길이의 수만큼 출력

[sum(x) for x in zip((1,2,3),(4,5,6))] # 각 원소들 끼리 더해줌

[5, 7, 9]

In [29]:
#실습4 : 아래와 같이 주어진 2개의 리스트로 딕셔너리를 만들어 출력하시오. 단,순서는 다를 수 있음

L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]
d={}
for i,j in zip(L1,L2) :
    d[i]=j
print(d)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [31]:
def add_and_mul(a,b) :
    return a+b, a*b

add_res, mul_res = add_and_mul(3,4)
print(add_res)
print(mul_res)

7
12

In [32]:
# 실습1 : len()구현 (len()을 사용하지 않고 구현할 것)

def my_len(x) : 
    length=0
    for i in x :
        length+=1
    return length

a=[5,5,6,7,8,3]
b='Life is short'
print(len(a),len(b))
print(my_len(a),my_len(b))

6 13
6 13

In [ ]:
# 실습2 : 양의 정수 a와 b를 전달받아 a부터 b까지 곱해서 반환하는 mult 함수를 작성하시오

def mult(a,b) :
    ret=1
    for i in range(a,b+1) :
        ret*=i
    return ret

print(mult(1,3))
print(mult(2,5))

In [ ]:
# 실습3 : 숫자로 구성된 리스트를 전달받아, 리스트에서 양수 값을 더한 결과와 음수 값을 더한 결과를 반환하는 함수를 작성하시오.

#풀이1
def sum_pos_neg(l):
    possum,negsum=0,0
    for i in l:
        if i >0 :
            possum+=i
        elif i<0 : 
            negsum+=i
    return possum, negsum
    

# 출력 방법1 
possum, negsum = sum_pos_neg([3,4,-6,-3])
print(possum, negsum)

# 출력 방법2 
print(sum_pos_neg([3,4,-6,-3]))
print(sum_pos_neg([0,0,0,0,0,0,0,0,0,1,-1]))


#풀이2 
def sum_pos_neg(l) :
    possum= sum([i for i in l if i>0])
    negsum= sum([i for i in l if i<0])
    return possum, negsum

print(sum_pos_neg([3,4,-6,-3]))
print(sum_pos_neg([0,0,0,0,0,0,0,0,0,1,-1]))

In [35]:
# 가변 매개변수 (가변 매개변수 뒤에는 일반 매개변수가 올 수 없음, 가변 매개변수는 하나만 사용가능)

def count_even(*n) :
    cnt=0
    for i in n :
        if i%2==0:
            cnt+=i
    return cnt

print(count_even(1,2,3,4,5))

6

In [ ]:
# 실습4 : 1개 이상의 2차원 벡터들을 전달받아 벡터들의 합을 구하여 반환하는 함수를 작성하시오.

def vector_sum(vector, *vectors):
    v = vector[:]
    for i in vectors :
        v[0]+= i[0]
        v[1]+= i[1]
    return v


v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.13, 2.72]
m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)
print(m1,m2,m3)

In [36]:
# 디폴트 매개변수 : 매개변수의 기본값을 지정해줄 수 있다(함수 호출 시, 해당 매개변수에 대응되는 값을 주지 않으면 정의할 때 지정한 기본값을 가짐)
def print_name(first, second='Kim'):
    print('My name is',first,second+'.')
    
print_name('Gildong', 'Hong')
print_name('Gildong')

# 앞 매개변수가 디폴트 값을 가지면, 뒤에 오는 매개변수는 반드시 디폴트값을 가져야 함
def print_name(first, second='Kim'): # 정상
def print_name(first='Kim', second): # 에러 발생

My name is Gildong Hong.
My name is Gildong Kim.

In [ ]:
# 키워드 매개변수 : 함수 호출 시, 해당 매개변수 이름을 명시적으로 지정해서 전달 남
# def로 함수를 만들 때 내가 명시적으로 이름을 달아서 만들면 명시한 이름까지 적어줘야 오류가 안남

def calc(x, y=0, z=0) :
return x+y+z

result = calc(y=20, x=10, z=30) # 매개변수 순서 상관 없음
print(result)

calc(y=20, x=10) # 정상
calc(10, y=30, z=20) # 정상
calc(10, 30, y=20) # 에러 발생

In [52]:
# 실습 5 : 숫자로 구성된 리스트 2개를 받아서 이 두 리스트를 합친 후에 정렬한 새로운 리스트를 반환하는 함수를 작성하시오.
# (단, 매개변수의 값이 주어지지 않으면, [0]이 기본적으로 주어진다.)

def merge_list(first=[0], second=[0]):
    return sorted(first+second)
    
    
l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1) # [1, 1, 2, 2, 3, 5, 9]
print(ml2) # [0, 4, 6, 9]
print(ml3) # [0, 0]

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

In [ ]:
# 지역변수 (Local Variable): 함수 안에서 만들어져 함수 안에서만 사용하는 변수
# 전역변수 (Global Variable): 함수 밖에서 만들어져아무데서나 사용할 수 있는 변수 (단, 함수 안에서 전역변수 수정 불가)
# 지역변수, 전역변수 : 함수 안에서 전역변수 수정 불가, 수정하려면 global 키워드 사용

In [148]:
# 모듈 : 많이 사용하는 함수를 만들어 놓고, 프로그램에서 해당 함수 사용시,import하여 사용하면 편리함

In [62]:
# 난수는 random 모듈을 이용하여 생성
import random

# 리스트에서 랜덤으로 선택
random.choice([1,2,3,4,5])

# a이상 b이하인 임의의 정수 뽑기 (a, b: int 타입)
random.randint(1, 3) # a~b 정수 값 중 하나
random.randrange(1, 5) # randint(a, b)와 동일한 기능

#리스트 내용 랜덤으로 섞기
Ls=[1,2,3,4,5]
random.shuffle(Ls)
print(Ls)

# 리스트 중 랜덤으로 여러 개 뽑기
random.sample([1, 2, 3, 4, 5, 6], 3)

[2, 3, 1, 5, 4]

In [93]:
# 실습 6 : 점심 메뉴 리스트에서 임의로 하나의 메뉴를 골라 정해주는 프로그램을 완성하시오.
import random

# 채우기
menu = ["된장찌개", "부대찌개", "김치찌개", "삼계탕", "파스타", "돈까스", "쌀국수"]

food=random.choice(menu)

print('오늘 점심은 {}입니다'.format(food))
print(f'오늘 점심은 {food}입니다')
print('오늘 점심은 %s입니다.'%food)

오늘 점심은 돈까스입니다
오늘 점심은 돈까스입니다
오늘 점심은 돈까스입니다.

In [132]:
# 실습 7 : 로또 추첨 프로그램 

# 5개의 로또 번호 조합을 출력해주는 프로그램을 작성  
# 1~45 숫자 중 6개를 임의로 선택 후 정렬하여 출력
# 단, 중복된 번호를 가질 수 없음

import random



for i in range(1,6) :
    number=sorted(random.sample([i for i in range(1,46)],6))
    print(f"{i}번째 자동 기입 ==>",*number)

1번째 자동 기입 ==> 2 16 19 21 35 39
2번째 자동 기입 ==> 19 23 32 34 38 39
3번째 자동 기입 ==> 16 22 23 24 27 38
4번째 자동 기입 ==> 9 18 28 29 39 42
5번째 자동 기입 ==> 4 6 20 33 36 41

In [147]:
# 실습 8 : 숫자로 구성된 리스트를 전달받아 최댓값, 최솟값을 반환하고, 두 수를 리스트에서 제거하는 함수를 작성하시오.
def get_min_max(l):
    min_val=min(l)
    max_val=max(l)
    return min_val, max_val

l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)

l.remove(min_val)
l.remove(max_val)
print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

In [154]:
# 실습 9 : 두 딕셔너리를 전달받아 각 딕셔너리에 등장한 값을 모두 더한 새로운 딕셔너리를 반환하는 함수 comb_dict()를 작성하시오.

def comb_dict(d1, d2):
    d3={}
    for k,v in d1.items():
        d3[k]=v
    for k,v in d2.items():
        if k in d3 :
            d3[k]+=v
        else :
            d3[k]=v
    return d3

d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

In [212]:
# 실습 10 : 숫자를 2개 이상 입력 받아, 최댓값과 최솟값의 차를 반환하는 함수를 작성하시오.

def diff(a, *n):
    max_value=max(n)
    min_value=min(n)
    
    if(a>max_value):
        max_value=a
    else : 
        pass
    if(a<min_value):
        min_value=a
    else :
        pass
    return max_value-min_value

print(diff(1,2,3,4,5))
print(diff(-100, 200))

4
300

In [214]:
print(diff(100)) #오류발생!

ValueError: max() arg is an empty sequence